*{
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

nav{
  background-color: black;
  padding: 20px 0;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    color: aliceblue;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 20px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

nav ul li:hover{
    color: red !important;
}
.active{
    color: red !important;
}
.name{
  margin: 0 auto !important;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.width{
    width: 350px;
    margin-bottom: 30px;
}

.color a{
  color: wheat;

}

.d-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}